* { box-sizing: border-box;
}
 body { margin: 0;
}
#iuxb{
    background-color:#b8dac5; background-repeat:unset; background-position:unset; background-attachment:unset; background-size:unset; background-image:unset; background-image-color:unset; background-image-gradient:unset; background-image-gradient-dir:unset; 
    background-image-gradient-type:unset;
}
#iyv1{
    min-height:600px; max-width:600px; background-color:#e4e4e4;
}
#i9r3{
    padding:10px; position:static;
}
#i7r7{
    font-family:"Fira Sans", sans-serif; font-weight:700;
}
#ilsj{
    padding:10px; min-height:510px;
}
#iqe0x{
    font-family:"Fira Sans", sans-serif; font-size:12px; text-align:justify;
}
#itawb{
    padding:10px; font-family:"Fira Sans", sans-serif; font-size:12px; min-height:50px;
}
#ihca5{
    color:#000000;
}
#ilxji{
    color:#000000;
}
#i3xlg{
    color:#000000;
}
#iitwk{
    color:#000000;
}
#i0ef6{
    color:#000000;
}
#iyh2a{
    color:#000000;
}
#igu32{
    color:#000000;
}
#istyv{
    color:#000000;
}
#imf4h{
    color:#000000;
}
