* { box-sizing: border-box; }
body { margin: 0; }
#iuxb {
   background-color: #b8dac5;
}
#iyv1 {
   min-height: 800px; max-width: 800px; background-color: #fefefc;
}
#i9r3 {
   padding: 10px; position: static;
}
#i7r7 {
   font-family: "Fira Sans", sans-serif; font-weight: 700;
}
#ilsj {
   padding: 10px; min-height: 710px;
}
#iqe0x {
   font-family: "Fira Sans", sans-serif; font-size: 12px; text-align: justify;
}
#itawb {
   padding: 10px; font-family: "Fira Sans", sans-serif; font-size: 12px; min-height: 50px;
}
#itawb a {
   color: #000000; text-decoration: none;
}
#itawb a:hover ~ #iuxb {
   background-color: #f3d5b5; /* example pastel color */
}
#ihca5, #ilxji, #i3xlg, #iitwk, #i0ef6, #iyh2a, #igu32, #istyv, #imf4h {
   color: #000000;
}
